bqcmau_1006/ember.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ember" xmlns:tns="http://www.example.org/ember" elementFormDefault="qualified">
</schema>

<xs:element name="ember">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="nev1" type="xs:string"/>
      <xs:element name="fizetes" type="xs:string"/>
      <xs:element name="nev" type="xs:string"/> 
    </xs:sequence>
  </xs:complexType>
</xs:element>