XMLFeladatBQCMAU/XMLSchemaBQCMAU.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="adatbazis">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="telep">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="cim">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:short" name="irSzam"> </xs:element>
                    <xs:element type="xs:string" name="telepules"> </xs:element>
                    <xs:element type="xs:string" name="utca"> </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"> </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="gazda" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nev"> </xs:element>
              <xs:element type="xs:short" name="fizetes"> </xs:element>
              <xs:element type="xs:byte" name="kor"> </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id" use="optional"> </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="kezeltAllat" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="betegseg"> </xs:element>
              <xs:element type="xs:string" name="allatNev"> </xs:element>
              <xs:element type="xs:string" name="eloallitottTermek"> </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="id" use="optional"> </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="alkalmGyogyszer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:byte" name="mennyiseg"> </xs:element>
              <xs:element type="xs:int" name="ar"> </xs:element>
              <xs:element type="xs:string" name="megnevezes"> </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="id" use="optional"> </xs:attribute>
          </xs:complexType>
        </xs:element>
        <xs:element name="alkalmazas" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="alkalmazasModja"> </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:short" name="kezeltAllatId" use="optional"> </xs:attribute>
            <xs:attribute type="xs:short" name="gyogyszerId" use="optional"> </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>