bqcmau_0929/mozi1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/mozi1" xmlns:tns="http://www.example.org/mozi1" elementFormDefault="qualified">


<xs:element name="film">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="rendezo" type="xs:string"/>
      <xs:element name="szinesz" type="xs:string"/>
      <xs:element name="iro" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</schema>

